body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
    background-color: rgb(0, 0, 0);
    color: rgb(240, 240, 240);
}

#header {
    color: rgb(240, 240, 240);
    background-color: rgb(0, 128, 0);
    width: 100%;
    border-color: white;
    border-style: none none solid none;
    border-width: 1px;
    text-align: center;
    z-index: 99;
}

#terminal {
    width: 960px;
    height: 600px;
    margin: 0 auto;
    padding: 2px;
}

#terminal .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
}

#terminal .terminal .terminal-cursor {
    background-color: #fafafa;
}

#bottomdiv {
    width: 100%;
    background-color: rgb(50, 50, 50);
    border-color: white;
    border-style: solid none none none;
    border-width: 1px;
    z-index: 99;
}

#footer {
    display: inline-block;
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#status {
    display: inline-block;
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    padding-left: 10px;
    padding-right: 10px;
    border-color: white;
    border-style: none solid none solid;
    border-width: 1px;
    text-align: left;
    z-index: 100;
}