{
  "listen": {
    "ip": "0.0.0.0",
    "port": 2222
  },
  "socketio": {
    "serveClient": false,
    "path": "/ssh/socket.io",
    "origins": ["localhost:2222"]
  },
  "ipfilter": {
    "allowed_ips": ["18.130.190.183"]
  },
  "user": {
    "name": aer,
    "password": null,
    "privatekey": null,
    "overridebasic": false
  },
  "ssh": {
    "host": null,
    "port": 22,
    "localAddress": null,
    "localPort": null,
    "term": "xterm-color",
    "readyTimeout": 20000,
    "keepaliveInterval": 120000,
    "keepaliveCountMax": 10,
    "allowedSubnets": []
  },
  "terminal": {
    "cursorBlink": true,
    "scrollback": 10000,
    "tabStopWidth": 8,
    "bellStyle": "sound",
    "fontSize": 14
  },
  "header": {
    "text": null,
    "background": "green"
  },
  "session": {
    "name": "rusi-gatsby-devops-container",
    "secret": "set-by-gha"
  },
  "options": {
    "challengeButton": true,
    "allowreauth": false
  },
  "algorithms": {
    "kex": [
      "ecdh-sha2-nistp256",
      "ecdh-sha2-nistp384",
      "ecdh-sha2-nistp521",
      "diffie-hellman-group-exchange-sha256",
      "diffie-hellman-group14-sha1"
    ],
    "cipher": [
      "aes128-ctr",
      "aes192-ctr",
      "aes256-ctr",
      "aes128-gcm",
      "aes128-gcm@openssh.com",
      "aes256-gcm",
      "aes256-gcm@openssh.com",
      "aes256-cbc"
    ],
    "hmac": [
      "hmac-sha2-256",
      "hmac-sha2-512",
      "hmac-sha1"
    ],
    "compress": [
      "none",
      "zlib@openssh.com",
      "zlib"
    ]
  },
  "serverlog": {
    "client": false,
    "server": false
  },
  "accesslog": false,
  "verify": false,
  "safeShutdownDuration": 300
}
